.instructional-design-description-item {
    width:600px;
    display: flex;
    flex-direction: column;
    gap:30px;
  h3 {
    font-size: 30px;
    font-family: "Poppins-Regular";
    line-height: 36px;
  }
  color: rgba(66, 66, 66, 1);
  font-size: 16px;
  line-height: 24px;
  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  li {
    display: flex;
    gap: 10px;
  }
}
@media screen and (max-width: 600px) {
  .instructional-design-description-item {
    width: 80vw;
    gap:10px;
    h3{
      font-size: 30px;
      line-height: 30px;
    } 
  }
}
