  .slider-container-slides{
    & .swiper-vertical > .swiper-pagination-bullets, .swiper-pagination-vertical.swiper-pagination-bullets{
      right: 115px;
      align-items: center;
      justify-items: center;
      display: grid;
      & .swiper-pagination-bullet{
        height: 15px;
        width: 15px;
        background-color: rgba(255, 255, 255, 1);
        &.swiper-pagination-bullet-active{
          height: 25px;
        width: 25px;
        }
      }
    }
  }
