// Variables
$white: rgba(255, 255, 255, 1);
$green: rgba(61, 148, 140, 1);
$light-grey: rgba(153, 155, 154, 1);
$grey: rgba(52, 52, 52, 1);
$dark-grey: rgba(66, 66, 66, 1);
$yellow: rgba(231, 208, 140, 1);
$padding-large: 140px;
$padding-medium: 65px 141px 0 200px;
$padding-small: 30px 20px;
$gap-large: 90px;
$gap-medium: 35px;
$gap-small: 5px;
$font-size-large: 75px;
$font-size-medium: 50px;
$font-size-small: 30px;
$line-height-large: 75px;
$line-height-medium: 60px;
$line-height-small: 36px;

// Mixins
@mixin responsive-font($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin responsive-padding($padding) {
  padding: $padding;
}

@mixin responsive-gap($gap) {
  gap: $gap;
}

// Styles
.provided-services {
  height: 350vh;
  background-color: $white;
  display: flex;
  flex-direction: column;
  @include responsive-gap($gap-large);
  background-repeat: no-repeat;
  background-position: 128px 90px, 140px 115px, 1288px 1062px, 131px 1087px;
}

#provided-services-search {
  height: 95vh;
  display: grid;
  @include responsive-gap($gap-medium);
  align-items: center;
  @include responsive-padding($padding-medium);

  h1 {
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    @include responsive-font($font-size-medium, $line-height-medium);
    color: $light-grey;
  }
}

.provided-services-design {
  height: 565px;
  width: 1240px;
  margin: 0;
  display: flex;
  position: relative;
  background-image: url("../../../public/imgs/background-image.png");
  background-repeat: no-repeat;

  img {
    align-self: end;
    margin-right: 115px;
  }

  hr {
    position: absolute;
    background-color: $green;
    height: 11px;
    width: 960px;
    bottom: -11px;
    left: 140px;
    border: none;
  }
}

.provided-services-design-description {
  width: 100vw;
  color: $dark-grey;
  @include responsive-padding($padding-large);

  h1 {
    @include responsive-font($font-size-large, $line-height-large);
    font-family: "Poppins-SemiBold";
  }

  span {
    font-size: 80px;
    line-height: 80px;
    font-family: "Poppins-SemiBold";
  }

  p {
    margin-top: 5px;
    font-family: "Poppins-ExtraLight";
    font-size: 35px;
    line-height: 35px;
  }

  button {
    margin-top: 35px;
    padding: 15px 46px;
    background-color: $green;
    color: $white;
    font-family: "Poppins-Regular";
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    border-radius: 25px;

    &:hover {
      cursor: pointer;
    }
  }
}

.instructional-design-description {
  display: flex;
  @include responsive-gap(50px);
  padding: 37px 0;
  width: 1100px;
}

.clients-love {
  display: flex;
  @include responsive-gap(50px);
  padding: 0 0 94px 141px;
}

#instructional-design {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 30px 0 0 200px;

  h1 {
    font-size: 50px;
    font-family: "Poppins-SemiBold";
    line-height: 60px;
    color: $light-grey;
  }
}

// Media Queries
@media screen and (min-width: 1200px) {
  .provided-services {
    background-image: url("../../../public/imgs/Ellipse 16(1).svg"),
      url("../../../public/imgs/Vector 10.svg"),
      url("../../../public/imgs/Ellipse 16(1).svg"),
      url("../../../public/imgs/Group 72.svg");
  }
}

@media screen and (max-width: 600px) {
  #provided-services-search {
    @include responsive-padding($padding-small);
    @include responsive-gap($gap-small);
    height: auto;

    h1 {
      @include responsive-font($font-size-small, $line-height-small);
    }
  }

  .provided-services-design {
    width: 100vw;

    img {
      margin: 0 0 0 -120px;
      height: 400px;
    }

    button {
      padding: 20px 30px;
    }

    hr {
      width: 500px;
    }
  }

  .provided-services-design-description {
    padding: 5vh 0 0 5vh;

    h1,
    span {
      font-size: 36px;
      line-height: 38px;
    }

    span {
      font-size: 46px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .provided-services {
    flex-direction: column;
    @include responsive-gap($gap-small);
    align-items: flex-start;
  }

  .instructional-design-description,
  .clients-love {
    flex-direction: column;
    width: 400px;
    @include responsive-gap($gap-small);

    img {
      width: 200px;
      height: 200px;
    }
  }

  #instructional-design {
    h1 {
      font-size: 44px;
      line-height: 46px;
    }
  }

  .clients-love,
  #instructional-design {
    padding: 0 0 5vh 5vh;
  }

  .clients-love-img {
    align-self: center;
    margin-right: 1;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .provided-services-design {
    width: 100vw;

    img {
      margin: 0 0 0 -120px;
    }

    button {
      padding: 20px 30px;
    }

    hr {
      width: 500px;
    }
  }

  .provided-services-design-description {
    padding: 7vh 0 0 5vh;

    h1,
    span {
      font-size: 50px;
      line-height: 46px;
    }

    span {
      font-size: 62px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }

    button {
      padding: 20px 50px;
    }
  }

  .provided-services {
    @include responsive-gap($gap-small);
    align-items: flex-start;
  }

  .instructional-design-description,
  .clients-love {
    flex-direction: column;
    width: 400px;
    @include responsive-gap($gap-small);

    img {
      width: 300px;
      height: 300px;
    }
  }

  #provided-services-search {
    padding: 10px 0 0 50px;

    h1 {
      font-size: 50px;
      line-height: 60px;
    }
  }

  .clients-love,
  #instructional-design {
    padding: 0 0 5vh 5vh;
  }

  .clients-love-img {
    align-self: center;
    margin-right: 1;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .provided-services-design {
    width: 100vw;

    hr {
      width: 900px;
    }
  }

  .provided-services-design-description {
    padding: 15vh 0 0 5vh;

    h1,
    span {
      font-size: 60px;
      line-height: 60px;
    }

    span {
      font-size: 70px;
    }

    p {
      font-size: 20px;
      line-height: 28px;
    }

    button {
      padding: 20px 60px;
    }
  }

  .provided-services {
    @include responsive-gap($gap-large);
    align-items: flex-start;
  }

  #provided-services-search {
    padding: 20px 0 0 100px;

    h1 {
      font-size: 40px;
      line-height: 50px;
    }
  }

  .clients-love,
  #instructional-design {
    padding: 0 0 5vh 5vh;
    gap: 0;

    img {
      width: 300px;
      height: 300px;
    }
  }
}